<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Mapbox GL JS Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <style>
    #pie-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    #pie-container div {
      width: 25%;
      position: relative;
      text-align: center;
    }

    #pie-container div h2 {
      text-align: center;
    }

    #error-message {
      display: none;
      padding: 1rem;
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
      border-radius: 0.25rem;
      margin: 1rem;
    }
  </style>
</head>
<body style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;">
  <main style="display: flex; width: 100vw; height: 100vh; justify-content: center;">
    <section style="width: 50%;">
      <div style="margin: 1rem; height: calc(100% - 4rem);" id="map"></div>
    </section>
    <section style="width: 50%; padding: 2rem;">
      <article id="error-message">
        No data has been entered for this ZIP code or value.
      </article>
      <article id="pie-container" style="height: calc(50% - 2rem); padding: 1rem;">
        <div>
          <h2>Demographic</h2>
          <canvas id="pie-1"></canvas>
        </div>
        <div>
          <h2>Plan</h2>
          <canvas id="pie-2"></canvas>
        </div>
        <div>
          <h2>Gender</h2>
          <canvas id="pie-3"></canvas>
        </div>
        <div>
          <h2>Income</h2>
          <canvas id="pie-4"></canvas>
        </div>
      </article>
      <article style="height: calc(50% - 2rem); padding: 1rem;">
        <div id="chart-container">
          <select id="graphType">
            <option value="both">Year vs Health, Dental and Total</option>
          </select>
          <canvas id="myChart"></canvas>
        </div>
      </article>
    </section>
  </main>


  <script>mapboxgl.accessToken = 'pk.eyJ1IjoiYXNkZmFzZGZkZmciLCJhIjoiY2xsNmxzdDF5MG43MjNxbWtuMDRqZ3F2ciJ9.kKJFcApNhpPfmUtXJiNgow';
  function showError() {
      document.getElementById('error-message').style.display = 'block';
    }

    function hideError() {
      document.getElementById('error-message').style.display = 'none';
    }
    const pies = [null, null, null, null];
    
    const makePieChart = (chartNumber, percentages, name, labels, values) => {
  if (pies[chartNumber]) {
    pies[chartNumber].destroy();
    pies[chartNumber] = null;
  }

  const data = {
    labels: labels,
    datasets: [{
      label: name,
      data: percentages,
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(153, 102, 255)'
      ],
      hoverOffset: 4
    }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {
      plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              const index = tooltipItem.dataIndex;
              return `${labels[index]}: ${Math.round(percentages[index])}% (total:${values[index]})`;
            }
          }
        },
        legend: {
          display: false,
        },
        datalabels: {
          color: '#fff',
          formatter: (value, context) => {
            const index = context.dataIndex;
            return `${Math.round(value)}%`;
          },
          anchor: 'center',
          align: 'center',
          offset: 0,
          borderWidth: 1,
          borderColor: '#fff',
          borderRadius: 2,
          backgroundColor: (context) => context.dataset.backgroundColor[context.dataIndex],
          font: {
            weight: 'bold',
            size: 14,
          }
        }
      }
    },
    plugins: [ChartDataLabels]
  };

  pies[chartNumber] = new Chart(document.getElementById(`pie-${chartNumber}`), config);
};

    
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-98.5795, 39.8283],
      zoom: 3
    });
    
    map.addControl(new mapboxgl.NavigationControl(), 'top-right');
    
    var zoomClickCount = 0;
    var maxZoomClicks = 3;
    var initialZoomIncrement = 5;
    var subsequentZoomIncrement = 2;
    var zoomLevel = 0;
    var zoomLevels = ["state", "county", "zip_code"];
    var lastZoomLevel = "state";
    
    var clickTimeout;
    
    var chartData = {
      labels: [],
      health: [],
      dental: []
    };
    
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart;
    var graphTypeSelect = document.getElementById('graphType');
    
    // Function to fetch initial data and plot charts
    const fetchInitialData = () => {
      fetch('http://localhost:8000/getstatisticsbycountry/?country=USA')
        .then(response => response.json())
        .then(data => {
          updateChartData(data);
        })
        .catch(error => console.error('Error fetching initial data:', error));
    };
    
    map.on('click', function(e) {
      clearTimeout(clickTimeout);
      clickTimeout = setTimeout(() => {
        handleSingleClick(e);
      }, 300);
    });
    
    map.on('dblclick', function(e) {
      clearTimeout(clickTimeout);
      handleDoubleClick(e);
    });
    
    function handleSingleClick(e) {
      var coordinates = e.lngLat;
    
      fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${coordinates.lng},${coordinates.lat}.json?access_token=${mapboxgl.accessToken}`)
        .then(response => response.json())
        .then(data => {
          var place = data.features[0];
          if (place) {
            var address = place.place_name;
            var properties = place.context.reduce((acc, item) => {
              if (item.id.includes('place')) acc.county = item.text;
              if (item.id.includes('region')) acc.state = item.text;
              if (item.id.includes('postcode')) acc.zip_code = item.text;
              return acc;
            }, {});
    
            if (zoomClickCount >= maxZoomClicks) {
              var zipcode = properties.zip_code || '';
              fetch(`http://localhost:8000/getallstatistics/?zip_code=${zipcode}`)
                .then(response => response.json())
                .then(result => {
                  updateChartData(result);
                })
                .catch(error => console.error('Error:', error));
    
              let popupHTML = `<h3>Location Details</h3>
                                <p>ZIP Code: ${zipcode || 'Not available'}</p>`;
    
              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(popupHTML)
                .addTo(map);
    
            } else {
              var param = zoomLevels[zoomLevel];
              var value = properties[param] || '';
    
              fetch(`http://localhost:8000/getallstatistics/?${param}=${value}`)
                .then(response => response.json())
                .then(result => {
                  updateChartData(result);
                })
                .catch(error => console.error('Error:', error));
    
              let popupHTML = `<h3>Location Details</h3>
                                <p>Address: ${address}</p>`;
    
              if (zoomClickCount === 0) {
                popupHTML += `<p>State: ${properties.state || 'Not available'}</p>`;
              } else if (zoomClickCount === 1) {
                popupHTML += `<p>County: ${properties.county || 'Not available'}</p>`;
              } else if (zoomClickCount === 2) {
                popupHTML += `<p>ZIP Code: ${properties.zip_code || 'Not available'}</p>`;
              }
    
              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(popupHTML)
                .addTo(map);
    
              if (zoomClickCount < maxZoomClicks) {
                var currentZoom = map.getZoom();
                var zoomIncrement = zoomClickCount === 0 ? initialZoomIncrement : subsequentZoomIncrement;
                var newZoom = currentZoom + zoomIncrement;
    
                map.flyTo({
                  center: [place.center[0], place.center[1]],
                  zoom: newZoom,
                  essential: true
                });
    
                zoomClickCount++;
                zoomLevel = zoomClickCount;
                lastZoomLevel = zoomLevels[zoomLevel];  // Update last zoom level
              }
            }
          }
        })
        .catch(error => console.error('Error:', error));
    }
    
    function handleDoubleClick(e) {
      var coordinates = e.lngLat;
    
      fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${coordinates.lng},${coordinates.lat}.json?access_token=${mapboxgl.accessToken}`)
        .then(response => response.json())
        .then(data => {
          var place = data.features[0];
          if (place) {
            var address = place.place_name;
            var properties = place.context.reduce((acc, item) => {
              if (item.id.includes('place')) acc.county = item.text;
              if (item.id.includes('region')) acc.state = item.text;
              if (item.id.includes('postcode')) acc.zip_code = item.text;
              return acc;
            }, {});
    
            if (zoomClickCount > 0) {
              // Determine new zoom level and update map
              var currentZoom = map.getZoom();
              var zoomIncrement = zoomClickCount === 3 ? initialZoomIncrement : subsequentZoomIncrement;
              var newZoom = currentZoom - zoomIncrement;
    
              // Ensure zoom does not go below a certain level
              newZoom = Math.max(newZoom, 3); // Adjust the minimum zoom level as needed
    
              map.flyTo({
                center: [place.center[0], place.center[1]],
                zoom: newZoom,
                essential: true
              });
    
              zoomClickCount--;
              zoomLevel = zoomClickCount;
              lastZoomLevel = zoomLevels[zoomLevel];
    
              var param = lastZoomLevel;
              var value = properties[param] || '';
    
              fetch(`http://localhost:8000/getallstatistics/?${param}=${value}`)
                .then(response => response.json())
                .then(result => {
                  updateChartData(result);
                  let popupHTML = `<h3>Location Details</h3>
                                    <p>Address: ${address}</p>`;
    
                  if (zoomClickCount === 0) {
                    popupHTML += `<p>State: ${properties.state || 'Not available'}</p>`;
                  } else if (zoomClickCount === 1) {
                    popupHTML += `<p>County: ${properties.county || 'Not available'}</p>`;
                  } else if (zoomClickCount === 2) {
                    popupHTML += `<p>ZIP Code: ${properties.zip_code || 'Not available'}</p>`;
                  }
    
                  new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(popupHTML)
                    .addTo(map);
                })
                .catch(error => console.error('Error:', error));
            }
          }
        })
        .catch(error => console.error('Error:', error));
    }
    
  function updateChartData(data) {
  const genderPercentages = data.gender_percentages;
  const enrollmentPercentages = data.enrollment_percentages;
  const incomeCategories = data.income_categories;
  const ageGroupPercentages = data.age_group_percentages;
  const enrollmentByYear = data.enrollment_by_year;

  // Check if data is empty or has all zero values
  const isEmptyData = Object.values(genderPercentages).every(value => value === 0) &&
                      Object.values(enrollmentPercentages).every(value => value === 0) &&
                      Object.values(incomeCategories).every(value => value === 0) &&
                      Object.values(ageGroupPercentages).every(value => value === 0) &&
                      Object.keys(enrollmentByYear).length === 0;

  if (isEmptyData) {
    document.getElementById('error-message').style.display = 'block';
    document.getElementById('pie-container').style.display = 'none';
    document.getElementById('chart-container').style.display = 'none';
  } else {
    document.getElementById('error-message').style.display = 'none';
    document.getElementById('pie-container').style.display = 'flex';
    document.getElementById('chart-container').style.display = 'block';

    const grandTotal = Object.values(enrollmentByYear).reduce((sum, e) => sum + e.total, 0);
    const maleValue = Math.round((grandTotal * genderPercentages.male_percentage) / 100);
    const femaleValue = Math.round((grandTotal * genderPercentages.female_percentage) / 100);
    const healthValue = Math.round((grandTotal * enrollmentPercentages.health_enrollment_percentage) / 100);
    const dentalValue = Math.round((grandTotal * enrollmentPercentages.dental_enrollment_percentage) / 100);
    const lowIncomeValue = Math.round((grandTotal * incomeCategories.low_income_percentage) / 100);
    const mediumIncomeValue = Math.round((grandTotal * incomeCategories.medium_income_percentage) / 100);
    const highIncomeValue = Math.round((grandTotal * incomeCategories.high_income_percentage) / 100);
    const ageValues = [
      Math.round((grandTotal * ageGroupPercentages["18-25"]) / 100),
      Math.round((grandTotal * ageGroupPercentages["25-35"]) / 100),
      Math.round((grandTotal * ageGroupPercentages["35-45"]) / 100),
      Math.round((grandTotal * ageGroupPercentages["45-55"]) / 100),
      Math.round((grandTotal * ageGroupPercentages["56+"]) / 100)
    ];

    makePieChart(3, [genderPercentages.male_percentage, genderPercentages.female_percentage], "Gender", ["male", "female"], [maleValue, femaleValue]);
    makePieChart(2, [enrollmentPercentages.health_enrollment_percentage, enrollmentPercentages.dental_enrollment_percentage], "Enrollment", ["health_enrollment", "dental_enrollment"], [healthValue, dentalValue]);
    makePieChart(4, [incomeCategories.low_income_percentage, incomeCategories.medium_income_percentage, incomeCategories.high_income_percentage], "Income", ["low_income", "medium_income", "high_income"], [lowIncomeValue, mediumIncomeValue, highIncomeValue]);
    makePieChart(1, [
      ageGroupPercentages["18-25"],
      ageGroupPercentages["25-35"],
      ageGroupPercentages["35-45"],
      ageGroupPercentages["45-55"],
      ageGroupPercentages["56+"]
    ], "Age Group", ["18-25", "25-35", "35-45", "45-55", "56"], ageValues);

    if (enrollmentByYear) {
      chartData.labels = Object.keys(enrollmentByYear);
      chartData.health = Object.values(enrollmentByYear).map(e => e.health);
      chartData.dental = Object.values(enrollmentByYear).map(e => e.dental);

      const selectedGraphType = graphTypeSelect.value;
      const total = chartData.health.map((healthValue, index) => healthValue + chartData.dental[index]);

      if (chart) {
        chart.destroy();
      }

      chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: chartData.labels,
          datasets: [
            {
              label: 'Health',
              data: chartData.health,
              borderColor: 'rgb(75, 192, 192)',
              fill: false
            },
            {
              label: 'Dental',
              data: chartData.dental,
              borderColor: 'rgb(255, 205, 86)',
              fill: false
            },
            {
              label: 'Total',
              data: total,
              borderColor: 'rgb(54, 162, 235)',
              borderWidth: 2,
              fill: false
            }
          ]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            }
          },
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Year'
              }
            },
            y: {
              display: true,
              title: {
                display: true,
                text: 'Enrollment'
              }
            }
          }
        }
      });
    }
  }
}

    graphTypeSelect.addEventListener('change', (event) => {
      updateChartData(chartData);
    });
    fetchInitialData();
    </script>
</body>
</html>


